---
import Card from './Card.astro';
export interface Props {
    title: string;
    items: any[];
    idStr?: string;
}
const { title, items, idStr } = Astro.props;
const rowId = idStr || title.toLowerCase().replace(/\s+/g, '-');
---
<div class="category-row visible" id={rowId}>
    <h2 class="category-title">{title}</h2>
    <div class="carousel-container">
        <button class="scroll-btn scroll-left" aria-label="Desplazar a la izquierda"><i class="fa-solid fa-chevron-left"></i></button>
        <div class="carousel">
            {items.map(dest => (
                <Card id={dest.id} title={dest.title} image={dest.image} rating={dest.rating} price={dest.price} link={dest.link} />
            ))}
        </div>
        <button class="scroll-btn scroll-right" aria-label="Desplazar a la derecha"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
</div>
